openapi: 3.0.3
info:
  title: WSIM Agent Commerce API
  description: |
    WSIM Agent Commerce API - Enables AI agents to make authenticated purchases on behalf of users.

    ## Overview

    This API supports the SimToolBox Agent Commerce Protocol (SACP), allowing AI agents to:
    - Register with user wallets via OAuth Device Authorization or pairing codes
    - Authenticate using OAuth 2.0 client credentials
    - Request payment tokens for purchases
    - Handle step-up authorization for transactions exceeding limits

    ## Authorization Flows

    ### Flow 1: Device Authorization Grant (RFC 8628) - RECOMMENDED
    Agent-initiated flow for autonomous agents:
    1. Agent calls `POST /api/agent/v1/oauth/device_authorization`
    2. Receives `device_code` and `user_code` (format: WSIM-XXXXXX-XXXXXX)
    3. Agent displays `user_code` and `verification_uri` to user
    4. User enters code in WSIM mobile app
    5. Agent polls `POST /api/agent/v1/oauth/token` with `grant_type=urn:ietf:params:oauth:grant-type:device_code`
    6. On approval, receives `client_id` and `client_secret`
    7. Uses client credentials to obtain access tokens

    ### Flow 2: Pairing Code (User-Initiated)
    User-initiated flow when user has pre-generated code:
    1. User generates pairing code in mobile app
    2. User provides code to agent (WSIM-XXXXXX-XXXXXX format)
    3. Agent calls `POST /api/agent/v1/access-request` with the code
    4. Agent polls until user approves
    5. On approval, receives credentials

    ## Authentication Methods

    ### 1. Agent OAuth (Client Credentials)
    For AI agent-to-service communication:
    - Agents obtain tokens via `POST /api/agent/v1/oauth/token` using client credentials
    - Include `Authorization: Bearer <access_token>` in subsequent requests
    - Tokens are short-lived (1 hour) and scoped to agent permissions

    ### 2. Mobile JWT (Bearer)
    For mobile app agent management under `/api/mobile/agents/*`:
    - Standard WSIM mobile authentication
    - Users manage their agents via mwsim app

    ### 3. Token Introspection
    For merchants (SSIM) to validate agent tokens:
    - Call `POST /api/agent/v1/oauth/introspect` with the agent's token
    - Returns agent context, permissions, and spending limits

    ## Related Documents

    - [WSIM_REQUIREMENTS.md](https://github.com/jordancrombie/agents/blob/main/docs/teams/WSIM_REQUIREMENTS.md)
    - [PROTOCOL_DESIGN.md](https://github.com/jordancrombie/agents/blob/main/docs/PROTOCOL_DESIGN.md)
    - [MWSIM_REQUIREMENTS.md](./MWSIM_REQUIREMENTS.md)

  version: 1.1.5
  contact:
    name: WSIM Team

servers:
  - url: https://wsim.banksim.ca
    description: Production
  - url: https://wsim-dev.banksim.ca
    description: Development
  - url: http://localhost:3003
    description: Local development

tags:
  - name: OAuth
    description: Agent OAuth 2.0 endpoints (Authorization Code, Device Authorization, client credentials)
  - name: Payments
    description: Payment token issuance for agent purchases
  - name: Agent Management
    description: Mobile app endpoints for registering and managing agents
  - name: Step-Up
    description: Step-up authorization endpoints for high-value transactions
  - name: Webhooks
    description: Webhook payload schemas for agent events

paths:
  # =============================================================================
  # OAuth Endpoints (Agent Authentication)
  # =============================================================================
  /api/agent/v1/oauth/authorize:
    get:
      tags:
        - OAuth
      summary: Start authorization code flow
      description: |
        OAuth 2.0 Authorization Code flow with PKCE (RFC 6749 + RFC 7636).

        **This is the recommended flow for browser-based AI platforms like ChatGPT Connectors.**

        **Flow:**
        1. Redirect user's browser to this endpoint with required parameters
        2. User enters their WSIM email on the consent page
        3. WSIM sends push notification to user's mobile app
        4. User approves in mobile app
        5. User is redirected to `redirect_uri` with authorization code
        6. Exchange code for access token at `/oauth/token`

        **PKCE Required:** All clients must use PKCE with S256 method.

        **Pre-registered Clients:** chatgpt, claude-mcp, gemini, wsim-test
      operationId: authorize
      parameters:
        - name: response_type
          in: query
          required: true
          schema:
            type: string
            enum: [code]
          description: Must be "code"
        - name: client_id
          in: query
          required: true
          schema:
            type: string
          description: Pre-registered client ID (e.g., "chatgpt")
          example: chatgpt
        - name: redirect_uri
          in: query
          required: true
          schema:
            type: string
            format: uri
          description: Callback URL (must match registered URIs for client)
          example: https://chat.openai.com/aip/plugin-id/oauth/callback
        - name: code_challenge
          in: query
          required: true
          schema:
            type: string
          description: PKCE code challenge (base64url-encoded SHA256 of code_verifier)
        - name: code_challenge_method
          in: query
          required: true
          schema:
            type: string
            enum: [S256]
          description: Must be "S256"
        - name: state
          in: query
          schema:
            type: string
          description: CSRF protection state parameter
        - name: scope
          in: query
          schema:
            type: string
          description: Space-separated list of scopes
          example: browse cart purchase
      responses:
        '200':
          description: HTML consent page rendered
          content:
            text/html:
              schema:
                type: string
        '400':
          description: Invalid request (rendered as HTML error page)
          content:
            text/html:
              schema:
                type: string

  /api/agent/v1/oauth/authorize/identify:
    post:
      tags:
        - OAuth
      summary: Submit email for authorization
      description: |
        User submits their WSIM email to receive push notification for approval.
        Called by the consent page JavaScript.
      operationId: authorizeIdentify
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - authorization_id
                - email
              properties:
                authorization_id:
                  type: string
                  format: uuid
                  description: Authorization request ID from the consent page
                email:
                  type: string
                  format: email
                  description: User's WSIM account email
      responses:
        '200':
          description: Push notification sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: pending_approval
                  message:
                    type: string
                    example: Check your WSIM app to approve this request
                  poll_url:
                    type: string
                    format: uri
                    description: URL to poll for authorization status
                  expires_in:
                    type: integer
                    description: Seconds until expiration
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'

  /api/agent/v1/oauth/authorize/status/{id}:
    get:
      tags:
        - OAuth
      summary: Poll authorization status
      description: |
        Poll for the status of an authorization request.
        Called by the consent page to check if user has approved.
      operationId: authorizeStatus
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Authorization request ID
      responses:
        '200':
          description: Authorization status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [pending_identification, pending_approval, approved, rejected, expired, used]
                  message:
                    type: string
                  redirect_uri:
                    type: string
                    format: uri
                    description: Redirect URL with code (only when status=approved)
        '404':
          description: Authorization request not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'

  /api/agent/v1/oauth/device_authorization:
    post:
      tags:
        - OAuth
      summary: Start device authorization
      description: |
        OAuth 2.0 Device Authorization Grant (RFC 8628).

        **This is the recommended flow for AI agents.** The agent initiates authorization
        and receives a user code to display to the user.

        **Flow:**
        1. Agent calls this endpoint with agent details
        2. Receives `device_code`, `user_code`, and `verification_uri`
        3. Agent displays `user_code` to user (format: WSIM-XXXXXX-XXXXXX)
        4. User enters code in WSIM mobile app (or visits `verification_uri_complete`)
        5. Agent polls `/oauth/token` with `grant_type=urn:ietf:params:oauth:grant-type:device_code`
        6. On approval, receives client credentials

        **Expiration**: Device codes expire in 15 minutes.
        **Polling**: Poll every 5 seconds (as indicated by `interval` field).
      operationId: startDeviceAuthorization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - agent_name
              properties:
                agent_name:
                  type: string
                  description: Display name for the agent (shown to user)
                  maxLength: 100
                  example: "Shopping Assistant"
                agent_description:
                  type: string
                  description: Description of what the agent does
                  maxLength: 500
                  example: "Helps you find and purchase products online"
                scope:
                  type: string
                  description: Space-separated list of requested permissions
                  example: "browse cart purchase"
                  default: "browse"
                spending_limits:
                  type: object
                  description: Requested spending limits (user may lower these)
                  properties:
                    per_transaction:
                      type: number
                      description: Max per-transaction limit
                      default: 50
                    daily:
                      type: number
                      description: Daily spending limit
                      default: 200
                    monthly:
                      type: number
                      description: Monthly spending limit
                      default: 1000
                    currency:
                      type: string
                      default: "CAD"
      responses:
        '200':
          description: Device authorization initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAuthorizationResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'

  /api/agent/v1/oauth/token:
    post:
      tags:
        - OAuth
      summary: Exchange credentials for access token
      description: |
        OAuth 2.0 token endpoint supporting multiple grant types:

        **1. Authorization Code Grant** (`authorization_code`) - RECOMMENDED for browser-based AI
        Exchange authorization code for access token (with PKCE):
        ```
        grant_type=authorization_code
        code=<authorization_code>
        code_verifier=<PKCE_verifier>
        redirect_uri=<same_as_authorize>
        client_id=chatgpt
        ```

        **2. Client Credentials Grant** (`client_credentials`)
        Exchange client credentials for an access token:
        ```
        grant_type=client_credentials
        client_id=agent_xxx
        client_secret=sk_agent_xxx
        ```

        **3. Device Authorization Grant** (`urn:ietf:params:oauth:grant-type:device_code`)
        Poll for device authorization approval:
        ```
        grant_type=urn:ietf:params:oauth:grant-type:device_code
        device_code=<device_code from device_authorization>
        ```

        For device_code grant, possible responses:
        - `authorization_pending`: User hasn't approved yet, keep polling
        - `access_denied`: User rejected the request
        - `expired_token`: Authorization expired
        - Success: Returns client credentials (not access token)
      operationId: getAgentToken
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
              properties:
                grant_type:
                  type: string
                  enum:
                    - authorization_code
                    - client_credentials
                    - urn:ietf:params:oauth:grant-type:device_code
                  description: Grant type
                code:
                  type: string
                  description: Authorization code (required for authorization_code grant)
                code_verifier:
                  type: string
                  description: PKCE code verifier (required for authorization_code grant)
                redirect_uri:
                  type: string
                  description: Redirect URI (must match original authorize request)
                client_id:
                  type: string
                  description: Client ID (required for authorization_code and client_credentials)
                  example: agent_abc123def456
                client_secret:
                  type: string
                  description: Agent client secret (required for client_credentials)
                  example: sk_agent_xxxxxxxxxxxxxxxxxxxx
                device_code:
                  type: string
                  description: Device code (required for device_code grant)
                scope:
                  type: string
                  description: Optional scope restriction
                  example: "browse cart purchase"
      responses:
        '200':
          description: Token issued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'
        '403':
          description: Agent suspended or delegation expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'

  /api/agent/v1/oauth/introspect:
    post:
      tags:
        - OAuth
      summary: Introspect agent token
      description: |
        Token introspection endpoint for merchants (SSIM) to validate agent tokens.

        Returns full agent context including:
        - Agent identity and permissions
        - Owner information
        - Spending limits and current usage
        - Token validity and expiration

        **Caching**: Results may be cached for up to 60 seconds (see Q18).
      operationId: introspectAgentToken
      security:
        - basicAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  description: The agent access token to introspect
      responses:
        '200':
          description: Token introspection result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntrospectionResponse'
        '401':
          description: Invalid introspection credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/agent/v1/oauth/revoke:
    post:
      tags:
        - OAuth
      summary: Revoke agent token
      description: |
        Revoke an agent's access token. Use when:
        - User revokes agent access
        - Agent is compromised
        - Session should be terminated
      operationId: revokeAgentToken
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  description: The agent access token to revoke
                client_id:
                  type: string
                  description: Agent client ID
                client_secret:
                  type: string
                  description: Agent client secret
      responses:
        '200':
          description: Token revoked successfully
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthErrorResponse'

  # =============================================================================
  # Payment Endpoints
  # =============================================================================
  /api/agent/v1/payments/token:
    post:
      tags:
        - Payments
      summary: Request payment token
      description: |
        Request a payment token for a purchase. The token can be used with the
        payment network (NSIM) to complete the transaction.

        **Spending Limit Check**:
        - If amount is within per-transaction limit: Token issued immediately
        - If amount exceeds limit: Step-up authorization required

        **Step-Up Flow**:
        When step-up is required, the response includes `step_up_required: true`
        and a `poll_url`. The agent should:
        1. Present step-up information to the user (or wait for push notification)
        2. Poll the `poll_url` (e.g., `GET /api/agent/v1/payments/{payment_id}/status`) every 2-5 seconds
        3. Once approved, the status response includes the `payment_token`

        **Payment Method Selection**:
        - If `payment_method_id` is omitted, uses user's default payment method
        - For step-up approvals, user can select a different payment method
      operationId: requestPaymentToken
      security:
        - agentBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentTokenRequest'
      responses:
        '200':
          description: Payment token issued or step-up required
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PaymentTokenResponse'
                  - $ref: '#/components/schemas/StepUpRequiredResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Invalid or expired agent token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Agent suspended or over spending limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/agent/v1/payments/{paymentId}/status:
    get:
      tags:
        - Payments
      summary: Check payment status
      description: |
        Check the status of a payment request, particularly useful for:
        - Polling during step-up authorization
        - Verifying payment completion

        **Polling Guidance**:
        - Poll every 2-5 seconds during step-up wait
        - Stop polling after 15 minutes (step-up expiration)
        - Use webhook subscription for real-time updates (Phase 2)
      operationId: getPaymentStatus
      security:
        - agentBearerAuth: []
      parameters:
        - name: paymentId
          in: path
          required: true
          schema:
            type: string
          description: Payment request ID
      responses:
        '200':
          description: Payment status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentStatusResponse'
        '404':
          description: Payment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/agent/v1/payments/methods:
    get:
      tags:
        - Payments
      summary: List available payment methods
      description: |
        Returns all payment methods available to the agent for purchases.
        This includes all cards enrolled in the owner's wallet.

        The `is_default` flag indicates the user's default payment method
        which is used for auto-approved transactions.
      operationId: listPaymentMethods
      security:
        - agentBearerAuth: []
      responses:
        '200':
          description: List of payment methods
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodsResponse'
        '401':
          description: Invalid or expired agent token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # =============================================================================
  # Agent Management Endpoints (Mobile)
  # =============================================================================
  /api/mobile/agents:
    post:
      tags:
        - Agent Management
      summary: Register new agent
      description: |
        Register a new AI agent. The user must authenticate via mobile app
        and provide agent configuration including permissions and spending limits.

        **Response includes one-time credentials**:
        The `client_secret` is only returned once. Users must copy it immediately.
        If lost, use the rotate-secret endpoint to generate a new one.
      operationId: registerAgent
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterAgentRequest'
      responses:
        '201':
          description: Agent registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterAgentResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'

    get:
      tags:
        - Agent Management
      summary: List user's agents
      description: Returns all agents registered by the authenticated user.
      operationId: listAgents
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of agents
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/mobile/agents/{agentId}:
    get:
      tags:
        - Agent Management
      summary: Get agent details
      description: |
        Returns detailed information about a specific agent, including:
        - Configuration and permissions
        - Spending limits and current usage
        - Recent activity summary
      operationId: getAgent
      security:
        - bearerAuth: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
          description: Agent ID
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDetailResponse'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    patch:
      tags:
        - Agent Management
      summary: Update agent settings
      description: |
        Update agent configuration. Supports partial updates.

        **Updatable fields**:
        - name, description
        - permissions
        - perTransactionLimit, dailyLimit, monthlyLimit
        - status (active/suspended)
      operationId: updateAgent
      security:
        - bearerAuth: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
          description: Agent ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
      responses:
        '200':
          description: Agent updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentUpdateResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags:
        - Agent Management
      summary: Revoke agent
      description: |
        Permanently revoke an agent. This action:
        - Invalidates all active tokens
        - Prevents new authentications
        - Cannot be undone (must re-register)
      operationId: revokeAgent
      security:
        - bearerAuth: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
          description: Agent ID
      responses:
        '200':
          description: Agent revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRevokeResponse'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/mobile/agents/{agentId}/rotate-secret:
    post:
      tags:
        - Agent Management
      summary: Rotate agent secret
      description: |
        Generate a new client secret for the agent. The old secret is
        immediately invalidated.

        **Use cases**:
        - Secret may have been compromised
        - Regular security rotation
        - User wants to revoke access from a specific agent instance

        **Important**: The new secret is only returned once.
      operationId: rotateAgentSecret
      security:
        - bearerAuth: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
          description: Agent ID
      responses:
        '200':
          description: New credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RotateSecretResponse'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/mobile/agents/{agentId}/transactions:
    get:
      tags:
        - Agent Management
      summary: Get agent transactions
      description: |
        Returns transaction history for the agent.
        Supports filtering by date range and status.
      operationId: getAgentTransactions
      security:
        - bearerAuth: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
          description: Agent ID
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description: Start date (ISO 8601)
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description: End date (ISO 8601)
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, completed, failed, refunded]
          description: Filter by status
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
          description: Max results to return
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
          description: Pagination offset
      responses:
        '200':
          description: Transaction list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionListResponse'
        '404':
          description: Agent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # =============================================================================
  # Step-Up Endpoints (Mobile)
  # =============================================================================
  /api/mobile/step-up/{stepUpId}:
    get:
      tags:
        - Step-Up
      summary: Get step-up details
      description: |
        Get details of a pending step-up authorization request.
        Used by mobile app to display approval screen.
      operationId: getStepUp
      security:
        - bearerAuth: []
      parameters:
        - name: stepUpId
          in: path
          required: true
          schema:
            type: string
          description: Step-up request ID
      responses:
        '200':
          description: Step-up details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StepUpDetailResponse'
        '404':
          description: Step-up not found or expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/mobile/step-up/{stepUpId}/approve:
    post:
      tags:
        - Step-Up
      summary: Approve step-up request
      description: |
        Approve a step-up authorization request. Requires biometric
        authentication on the mobile device.

        **Payment method selection**:
        Optionally include `payment_method_id` to use a different card
        than the default.
      operationId: approveStepUp
      security:
        - bearerAuth: []
      parameters:
        - name: stepUpId
          in: path
          required: true
          schema:
            type: string
          description: Step-up request ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApproveStepUpRequest'
      responses:
        '200':
          description: Step-up approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StepUpApprovalResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Step-up not found or expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Step-up already resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/mobile/step-up/{stepUpId}/reject:
    post:
      tags:
        - Step-Up
      summary: Reject step-up request
      description: Reject a step-up authorization request.
      operationId: rejectStepUp
      security:
        - bearerAuth: []
      parameters:
        - name: stepUpId
          in: path
          required: true
          schema:
            type: string
          description: Step-up request ID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectStepUpRequest'
      responses:
        '200':
          description: Step-up rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StepUpRejectionResponse'
        '404':
          description: Step-up not found or expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Step-up already resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # =============================================================================
  # Pairing Code Endpoints (Mobile)
  # =============================================================================
  /api/mobile/pairing-codes:
    post:
      tags:
        - Access Request
      summary: Generate pairing code
      description: |
        Generate a pairing code for agent binding. The code is used by AI agents
        to request access to the user's wallet.

        **Flow**:
        1. User generates code in mwsim
        2. User gives code to their AI agent
        3. Agent submits code via `/api/agent/v1/access-request`
        4. User receives push notification to approve

        **Security**:
        - Codes expire after 24 hours
        - Each user can have max 3 active codes
        - Code is single-use (consumed on first access request)
      operationId: generatePairingCode
      security:
        - bearerAuth: []
      responses:
        '201':
          description: Pairing code generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PairingCodeResponse'
        '429':
          description: Too many active codes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # =============================================================================
  # Access Request Endpoints (Agent-Facing)
  # =============================================================================
  /api/agent/v1/access-request:
    post:
      tags:
        - Access Request
      summary: Request wallet access
      description: |
        AI agent requests access to a user's wallet using a pairing code.
        The user will receive a push notification to approve/reject the request.

        **Flow**:
        1. Agent submits pairing code + requested permissions/limits
        2. WSIM validates code and sends push notification to user
        3. Agent polls `/api/agent/v1/access-request/{id}` for status
        4. On approval, credentials are returned

        **Expiration**: Access requests expire after 24 hours.
      operationId: createAccessRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessRequestCreate'
      responses:
        '201':
          description: Access request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRequestCreatedResponse'
        '400':
          description: Invalid pairing code or request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Pairing code not found or expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/agent/v1/access-request/{requestId}:
    get:
      tags:
        - Access Request
      summary: Check access request status
      description: |
        Poll for access request status. Returns credentials when approved.

        **Polling Guidance**:
        - Poll every 5-10 seconds
        - Stop after 24 hours (request expiration)
        - Use exponential backoff if getting rate limited
      operationId: getAccessRequestStatus
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
          description: Access request ID
      responses:
        '200':
          description: Access request status
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AccessRequestPendingResponse'
                  - $ref: '#/components/schemas/AccessRequestApprovedResponse'
                  - $ref: '#/components/schemas/AccessRequestRejectedResponse'
        '404':
          description: Access request not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/agent/v1/access-request/{requestId}/qr:
    get:
      tags:
        - Access Request
      summary: Get QR code for access request
      description: |
        Get QR code data for display. User scans with mwsim to approve.

        **QR Content**: Contains request ID and WSIM endpoint for mwsim to call.
      operationId: getAccessRequestQR
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
          description: Access request ID
      responses:
        '200':
          description: QR code data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRequestQRResponse'
        '404':
          description: Access request not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # =============================================================================
  # Access Request Endpoints (Mobile)
  # =============================================================================
  /api/mobile/access-requests:
    get:
      tags:
        - Access Request
      summary: List pending access requests
      description: |
        List all pending access requests for the authenticated user.
        Used by mwsim to show the "Needs Your Attention" section.
      operationId: listAccessRequests
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, approved, rejected, expired]
            default: pending
          description: Filter by status
      responses:
        '200':
          description: List of access requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRequestListResponse'

  /api/mobile/access-requests/{requestId}:
    get:
      tags:
        - Access Request
      summary: Get access request details
      description: |
        Get details of an access request for the approval screen.
        Shows agent name, requested permissions, and spending limits.
      operationId: getAccessRequest
      security:
        - bearerAuth: []
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
          description: Access request ID
      responses:
        '200':
          description: Access request details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRequestDetailResponse'
        '404':
          description: Access request not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/mobile/access-requests/{requestId}/approve:
    post:
      tags:
        - Access Request
      summary: Approve access request
      description: |
        Approve an agent's access request. User can modify (decrease) the
        spending limits before approving.

        **Biometric Required**: mwsim should require Face ID/Touch ID before calling.

        **Limit Modification**: User can only DECREASE limits, not increase.
      operationId: approveAccessRequest
      security:
        - bearerAuth: []
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
          description: Access request ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApproveAccessRequestInput'
      responses:
        '200':
          description: Access request approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRequestApprovalResponse'
        '400':
          description: Invalid request (e.g., increased limits)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Access request not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Access request already resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/mobile/access-requests/{requestId}/reject:
    post:
      tags:
        - Access Request
      summary: Reject access request
      description: Reject an agent's access request.
      operationId: rejectAccessRequest
      security:
        - bearerAuth: []
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
          description: Access request ID
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RejectAccessRequestInput'
      responses:
        '200':
          description: Access request rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessRequestRejectionResponse'
        '404':
          description: Access request not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Access request already resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # =============================================================================
  # OAuth Authorization Endpoints (Mobile) - Authorization Code Flow Approval
  # =============================================================================
  /api/mobile/access-requests/oauth-authorizations:
    get:
      tags:
        - Access Request
      summary: List pending OAuth authorization requests
      description: |
        List all pending OAuth authorization requests for the authenticated user.
        Used by mwsim to show pending authorization requests in the approval screen.

        These are authorization requests from browser-based AI platforms (ChatGPT, Claude MCP, etc.)
        that require user approval via push notification.
      operationId: listOAuthAuthorizations
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of pending OAuth authorizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthAuthorizationListResponse'

  /api/mobile/access-requests/oauth-authorizations/{id}:
    get:
      tags:
        - Access Request
      summary: Get OAuth authorization request details
      description: |
        Get details of an OAuth authorization request for the approval screen.
        Shows client name, requested scopes, and expiration time.
      operationId: getOAuthAuthorization
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: OAuth authorization request ID
      responses:
        '200':
          description: OAuth authorization request details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthAuthorizationDetailResponse'
        '403':
          description: Authorization request does not belong to user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Authorization request not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/mobile/access-requests/oauth-authorizations/{id}/approve:
    post:
      tags:
        - Access Request
      summary: Approve OAuth authorization request
      description: |
        Approve an OAuth authorization request from a browser-based AI platform.

        **Biometric Required**: mwsim should require Face ID/Touch ID before calling.

        Upon approval, an authorization code is generated and the browser waiting
        on the consent page will be redirected to the client's redirect_uri with the code.
      operationId: approveOAuthAuthorization
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: OAuth authorization request ID
      responses:
        '200':
          description: Authorization approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthAuthorizationApprovalResponse'
        '400':
          description: Authorization request expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Authorization request does not belong to user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Authorization request not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Authorization request already resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/mobile/access-requests/oauth-authorizations/{id}/reject:
    post:
      tags:
        - Access Request
      summary: Reject OAuth authorization request
      description: |
        Reject an OAuth authorization request from a browser-based AI platform.

        Upon rejection, the browser waiting on the consent page will be notified
        and can display an appropriate error message.
      operationId: rejectOAuthAuthorization
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: OAuth authorization request ID
      responses:
        '200':
          description: Authorization rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthAuthorizationRejectionResponse'
        '403':
          description: Authorization request does not belong to user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Authorization request not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Authorization request already resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

# =============================================================================
# Components
# =============================================================================
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Mobile app JWT authentication

    agentBearerAuth:
      type: http
      scheme: bearer
      description: Agent OAuth access token

    basicAuth:
      type: http
      scheme: basic
      description: Basic auth for introspection (client_id:client_secret)

  schemas:
    # =========================================================================
    # OAuth Schemas
    # =========================================================================
    DeviceAuthorizationResponse:
      type: object
      required:
        - device_code
        - user_code
        - verification_uri
        - expires_in
        - interval
      properties:
        device_code:
          type: string
          description: Code for polling token endpoint
          example: "550e8400-e29b-41d4-a716-446655440000"
        user_code:
          type: string
          description: Code for user to enter (format WSIM-XXXXXX-XXXXXX)
          example: "WSIM-ABC123-DEF456"
        verification_uri:
          type: string
          format: uri
          description: URL for user to visit to enter code
          example: "https://wsim.banksim.ca/m/device"
        verification_uri_complete:
          type: string
          format: uri
          description: URL with code pre-filled
          example: "https://wsim.banksim.ca/m/device?code=WSIM-ABC123-DEF456"
        expires_in:
          type: integer
          description: Code lifetime in seconds (900 = 15 minutes)
          example: 900
        interval:
          type: integer
          description: Minimum polling interval in seconds
          example: 5

    DeviceCodeCredentialsResponse:
      type: object
      description: Credentials returned when device authorization is approved
      required:
        - client_id
        - client_secret
        - token_endpoint
      properties:
        client_id:
          type: string
          description: Agent client ID for OAuth
          example: "agent_abc123def456"
        client_secret:
          type: string
          description: Agent client secret (one-time, save securely)
          example: "sk_agent_xxxxxxxxxxxxxxxxxxxx"
        token_endpoint:
          type: string
          format: uri
          description: Token endpoint for client_credentials grant
          example: "https://wsim.banksim.ca/api/agent/v1/oauth/token"
        permissions:
          type: array
          items:
            type: string
          description: Granted permissions
          example: ["browse", "cart", "purchase"]
        spending_limits:
          $ref: '#/components/schemas/SpendingLimits'

    TokenResponse:
      type: object
      required:
        - access_token
        - token_type
        - expires_in
      properties:
        access_token:
          type: string
          description: The agent access token
          example: "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."
        token_type:
          type: string
          enum: [Bearer]
          description: Token type (always "Bearer")
        expires_in:
          type: integer
          description: Token lifetime in seconds
          example: 3600
        scope:
          type: string
          description: Granted scopes
          example: "browse cart purchase"

    IntrospectionResponse:
      type: object
      required:
        - active
      properties:
        active:
          type: boolean
          description: Whether the token is valid and active
        client_id:
          type: string
          description: Agent client ID
          example: agent_abc123def456
        agent_id:
          type: string
          description: Internal agent UUID
          example: "550e8400-e29b-41d4-a716-446655440000"
        owner_id:
          type: string
          description: WSIM user ID of agent owner (UUID)
          example: "660e8400-e29b-41d4-a716-446655440001"
        agent_name:
          type: string
          description: Human-readable agent name
          example: "My Shopping Assistant"
        permissions:
          type: array
          items:
            type: string
            enum: [browse, cart, purchase, history]
          description: Agent permissions
          example: ["browse", "cart", "purchase"]
        spending_limits:
          $ref: '#/components/schemas/SpendingLimits'
        spending_usage:
          $ref: '#/components/schemas/SpendingUsage'
        exp:
          type: integer
          description: Token expiration (Unix timestamp)
          example: 1705858800
        iat:
          type: integer
          description: Token issued at (Unix timestamp)
          example: 1705855200

    OAuthErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          enum:
            - invalid_request
            - invalid_client
            - invalid_grant
            - unauthorized_client
            - unsupported_grant_type
            - access_denied
            - delegation_expired
            - authorization_pending
            - slow_down
            - expired_token
          description: |
            OAuth 2.0 error code:
            - `access_denied`: Agent is suspended/revoked or user denied request
            - `invalid_client`: Invalid client credentials
            - `unsupported_grant_type`: Invalid grant type
            - `authorization_pending`: Device code not yet approved (keep polling)
            - `slow_down`: Polling too fast, increase interval
            - `expired_token`: Device code has expired
        error_description:
          type: string
          description: Human-readable error description
          example: "Agent is suspended"

    # =========================================================================
    # Payment Schemas
    # =========================================================================
    PaymentTokenRequest:
      type: object
      required:
        - merchant_id
        - amount
        - currency
      properties:
        merchant_id:
          type: string
          description: Merchant identifier (SSIM store ID)
          example: "store_xyz789"
        session_id:
          type: string
          description: Checkout session ID from merchant
          example: "sess_abc123"
        amount:
          type: number
          format: decimal
          description: Transaction amount
          example: 156.48
        currency:
          type: string
          pattern: "^[A-Z]{3}$"
          description: ISO 4217 currency code
          example: "CAD"
        payment_method_id:
          type: string
          description: Specific payment method to use (optional, defaults to user's default)
          example: "pm_card_visa_1234"
        items:
          type: array
          description: Cart items (for step-up display)
          items:
            $ref: '#/components/schemas/CartItem'
        mandate_type:
          type: string
          enum: [cart, intent, none]
          description: Type of mandate (Phase 2)
          default: cart
        callback_url:
          type: string
          format: uri
          description: URL for step-up result callback (optional)

    CartItem:
      type: object
      properties:
        name:
          type: string
          example: "Canadian Maple Syrup"
        quantity:
          type: integer
          example: 2
        price:
          type: number
          format: decimal
          example: 24.99

    PaymentTokenResponse:
      type: object
      description: Response when payment token is issued (no step-up required)
      required:
        - step_up_required
        - payment_id
        - payment_token
        - expires_in
        - payment_method
        - next_step
      properties:
        step_up_required:
          type: boolean
          enum: [false]
          description: Indicates no step-up was required
        step_up_id:
          type: string
          nullable: true
          description: Always null when step_up_required is false
          example: null
        payment_id:
          type: string
          description: Payment/transaction ID
          example: "550e8400-e29b-41d4-a716-446655440000"
        payment_token:
          type: string
          description: JWT token to use with merchant for payment
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        expires_in:
          type: integer
          description: Token lifetime in seconds
          example: 300
        payment_method:
          type: object
          description: Payment method used
          required:
            - id
            - type
            - last_four
          properties:
            id:
              type: string
              example: "pm_card_visa_1234"
            type:
              type: string
              example: "Visa"
            last_four:
              type: string
              example: "4242"
        next_step:
          type: string
          description: Human-readable guidance for the AI agent on what to do next
          example: "Use payment_token with merchant to complete purchase"

    StepUpRequiredResponse:
      type: object
      required:
        - payment_id
        - status
        - step_up_required
        - step_up_id
        - step_up_expires_at
        - reason
        - poll_url
        - next_step
      properties:
        payment_id:
          type: string
          description: Payment request ID (use this in the poll_url)
          example: "pay_abc123xyz789"
        status:
          type: string
          enum: [awaiting_authorization]
          description: Payment status
        step_up_required:
          type: boolean
          enum: [true]
          description: Indicates step-up is required
        step_up_id:
          type: string
          description: Step-up request ID for tracking
          example: "stepup_xyz789abc123"
        step_up_expires_at:
          type: string
          format: date-time
          description: Step-up expiration (15 minutes)
          example: "2026-01-21T15:15:00Z"
        reason:
          type: string
          description: Human-readable reason for step-up (only present when status is pending/awaiting_authorization)
          example: "Amount exceeds per-transaction limit of $100.00 CAD"
        trigger_type:
          type: string
          enum: [per_transaction, daily_limit, monthly_limit]
          description: What limit triggered the step-up (only present when status is pending/awaiting_authorization)
        poll_url:
          type: string
          format: uri
          description: |
            URL to poll for payment status. Poll every 2-5 seconds until
            status changes from 'awaiting_authorization' to 'approved' or 'rejected'.
          example: "https://wsim.banksim.ca/api/agent/v1/payments/pay_abc123xyz789/status"
        next_step:
          type: string
          description: Human-readable guidance for the AI agent on what to do next
          example: "Poll poll_url until status changes to approved or rejected"

    PaymentStatusResponse:
      type: object
      description: |
        Response from polling payment status. The `type` field indicates whether
        this is a step-up request or a completed payment.

        - `type: step_up` - Waiting for or completed step-up authorization
        - `type: payment` - Transaction record (auto-approved or post-step-up)

        **AI Agent Guidance**:
        - Always check `status` first to determine the outcome
        - The `next_step` field provides explicit guidance on what action to take
        - `reason` and `trigger_type` are ONLY present when status is `pending` (to avoid confusion)
      required:
        - type
        - status
        - next_step
      properties:
        type:
          type: string
          enum: [step_up, payment]
          description: Type of record being returned
        # Step-up fields (when type=step_up)
        step_up_id:
          type: string
          description: Step-up request ID (when type=step_up)
        reason:
          type: string
          description: |
            Reason for step-up requirement. **Only present when status is `pending`**.
            Not included in approved/rejected/expired responses to avoid confusing AI agents.
        trigger_type:
          type: string
          enum: [per_transaction, daily_limit, monthly_limit]
          description: |
            What limit triggered the step-up. **Only present when status is `pending`**.
            Not included in approved/rejected/expired responses to avoid confusing AI agents.
        amount:
          type: string
          description: Transaction amount (string for precision)
          example: "156.48"
        currency:
          type: string
          example: "CAD"
        merchant_id:
          type: string
        merchant_name:
          type: string
        expires_at:
          type: string
          format: date-time
          description: Step-up expiration (when type=step_up)
        rejection_reason:
          type: string
          description: Why the step-up was rejected (when status=rejected)
        # Payment fields (when type=payment or step_up approved)
        payment_id:
          type: string
          description: Transaction ID
        payment_token:
          type: string
          description: Payment token (when step_up approved)
        expires_in:
          type: integer
          description: Token lifetime in seconds (when step_up approved)
        payment_method:
          type: object
          description: Selected payment method (when step_up approved)
          properties:
            id:
              type: string
            type:
              type: string
            last_four:
              type: string
        status:
          type: string
          enum:
            - pending
            - awaiting_authorization
            - approved
            - rejected
            - expired
            - completed
            - failed
          description: Current status
        approval_type:
          type: string
          enum: [auto, step_up]
          description: How transaction was approved (when type=payment)
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true
          description: When payment completed (when type=payment)
        next_step:
          type: string
          description: |
            Human-readable guidance for the AI agent on what to do next.
            Examples:
            - `pending`: "Continue polling until status changes to approved or rejected"
            - `approved`: "Use payment_token with merchant to complete purchase"
            - `rejected`: "Request was declined by user. Do not retry without user initiation."
            - `expired`: "Authorization window expired. Create new payment request if needed."
            - `completed`: "Transaction complete. No further action required."
            - `failed`: "Transaction failed. Review error and retry if appropriate."

    PaymentMethodsResponse:
      type: object
      required:
        - payment_methods
      properties:
        payment_methods:
          type: array
          items:
            $ref: '#/components/schemas/PaymentMethod'

    PaymentMethod:
      type: object
      description: Payment method available for agent purchases
      required:
        - id
        - type
        - last_four
        - is_default
      properties:
        id:
          type: string
          description: Payment method ID
          example: "pm_card_visa_1234"
        type:
          type: string
          description: Card type/brand (e.g., "Visa", "Mastercard")
          example: "Visa"
        last_four:
          type: string
          description: Last 4 digits of card
          example: "4242"
        cardholder_name:
          type: string
          description: Name on the card
          example: "JOHN DOE"
        expiry_month:
          type: integer
          description: Expiration month (1-12)
          example: 12
        expiry_year:
          type: integer
          description: Expiration year (4-digit)
          example: 2027
        is_default:
          type: boolean
          description: Whether this is the user's default payment method
          example: true

    # =========================================================================
    # Agent Management Schemas
    # =========================================================================
    RegisterAgentRequest:
      type: object
      description: |
        Request body for registering a new agent via mobile app.

        **Note**: Uses camelCase field names (perTransactionLimit, dailyLimit, monthlyLimit)
        to match the mobile app's naming convention.
      required:
        - name
        - permissions
        - perTransactionLimit
        - dailyLimit
        - monthlyLimit
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: Human-readable agent name
          example: "My Shopping Assistant"
        description:
          type: string
          maxLength: 500
          description: Optional description
          example: "Helps me buy groceries and household items"
        permissions:
          type: array
          items:
            type: string
            enum: [browse, cart, purchase, history]
          description: Agent permissions
          example: ["browse", "cart", "purchase"]
        perTransactionLimit:
          type: number
          format: decimal
          description: Max per-transaction (auto-approve threshold)
          example: 50.00
        dailyLimit:
          type: number
          format: decimal
          description: Daily spending limit
          example: 200.00
        monthlyLimit:
          type: number
          format: decimal
          description: Monthly spending limit
          example: 500.00

    SpendingLimitsInput:
      type: object
      required:
        - per_transaction
        - daily
        - monthly
      properties:
        per_transaction:
          type: number
          format: decimal
          description: Max per-transaction (auto-approve threshold)
          example: 50.00
        daily:
          type: number
          format: decimal
          description: Daily spending limit
          example: 200.00
        monthly:
          type: number
          format: decimal
          description: Monthly spending limit (REQUIRED)
          example: 500.00
        currency:
          type: string
          pattern: "^[A-Z]{3}$"
          default: "CAD"
          description: Currency for limits
          example: "CAD"

    SpendingLimits:
      type: object
      required:
        - per_transaction
        - daily
        - monthly
        - currency
      properties:
        per_transaction:
          type: number
          format: decimal
          example: 50.00
        daily:
          type: number
          format: decimal
          example: 200.00
        monthly:
          type: number
          format: decimal
          example: 500.00
        currency:
          type: string
          example: "CAD"

    SpendingUsage:
      type: object
      properties:
        today:
          type: number
          format: decimal
          description: Amount spent today (resets at midnight EST/EDT)
          example: 45.67
        this_month:
          type: number
          format: decimal
          description: Amount spent this month
          example: 245.50
        last_transaction:
          type: string
          format: date-time
          description: Timestamp of last transaction

    RegisterAgentResponse:
      type: object
      description: |
        Response from agent registration. Returns a flat object with agent details
        and one-time credentials. **Important**: The `client_secret` is only shown
        once and cannot be retrieved again.
      required:
        - id
        - client_id
        - client_secret
        - name
        - permissions
        - spending_limits
        - status
        - created_at
        - message
      properties:
        id:
          type: string
          description: Agent UUID
          example: "550e8400-e29b-41d4-a716-446655440000"
        client_id:
          type: string
          description: Agent client ID for OAuth
          example: "agent_abc123def456"
        client_secret:
          type: string
          description: Agent client secret (shown once only!)
          example: "sk_agent_xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
        name:
          type: string
          example: "My Shopping Assistant"
        description:
          type: string
          nullable: true
          example: "Helps me buy groceries"
        permissions:
          type: array
          items:
            type: string
          example: ["browse", "cart", "purchase"]
        spending_limits:
          $ref: '#/components/schemas/SpendingLimits'
        status:
          type: string
          enum: [active, suspended, revoked]
          example: "active"
        created_at:
          type: string
          format: date-time
        message:
          type: string
          description: Reminder to save the secret
          example: "Save the client_secret now - it will not be shown again!"

    AgentSummary:
      type: object
      description: Agent summary as returned in list endpoints
      required:
        - id
        - client_id
        - name
        - permissions
        - spending_limits
        - spending_usage
        - status
        - created_at
      properties:
        id:
          type: string
          example: "550e8400-e29b-41d4-a716-446655440000"
        client_id:
          type: string
          example: "agent_abc123def456"
        name:
          type: string
          example: "My Shopping Assistant"
        description:
          type: string
          nullable: true
        permissions:
          type: array
          items:
            type: string
          example: ["browse", "cart", "purchase"]
        spending_limits:
          $ref: '#/components/schemas/SpendingLimits'
        spending_usage:
          type: object
          properties:
            daily:
              type: string
              example: "45.67"
            monthly:
              type: string
              example: "245.50"
        status:
          type: string
          enum: [active, suspended, revoked]
          example: "active"
        created_at:
          type: string
          format: date-time
        last_used_at:
          type: string
          format: date-time
          nullable: true

    AgentListResponse:
      type: object
      required:
        - agents
      properties:
        agents:
          type: array
          items:
            $ref: '#/components/schemas/AgentSummary'

    AgentDetailResponse:
      type: object
      description: Detailed agent information (flat structure at root level)
      required:
        - id
        - client_id
        - name
        - permissions
        - spending_limits
        - spending_usage
        - remaining_limits
        - status
        - created_at
        - updated_at
      properties:
        id:
          type: string
          description: Agent UUID
          example: "550e8400-e29b-41d4-a716-446655440000"
        client_id:
          type: string
          description: Agent client ID for OAuth
          example: "agent_abc123def456"
        name:
          type: string
          example: "My Shopping Assistant"
        description:
          type: string
          nullable: true
        permissions:
          type: array
          items:
            type: string
          example: ["browse", "cart", "purchase"]
        spending_limits:
          $ref: '#/components/schemas/SpendingLimits'
        spending_usage:
          type: object
          description: Current spending in this period
          properties:
            daily:
              type: string
              description: Amount spent today (string for precision)
              example: "45.67"
            monthly:
              type: string
              description: Amount spent this month
              example: "245.50"
        remaining_limits:
          type: object
          description: How much more can be spent
          properties:
            daily:
              type: string
              example: "154.33"
            monthly:
              type: string
              example: "254.50"
        status:
          type: string
          enum: [active, suspended, revoked]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        last_used_at:
          type: string
          format: date-time
          nullable: true
        secret_rotated_at:
          type: string
          format: date-time
          nullable: true

    UpdateAgentRequest:
      type: object
      description: |
        Request body for updating agent settings. All fields are optional.

        **Note**: Uses camelCase field names for spending limits to match mobile app convention.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        permissions:
          type: array
          items:
            type: string
            enum: [browse, cart, purchase, history]
        perTransactionLimit:
          type: number
          format: decimal
          description: Max per-transaction (auto-approve threshold)
        dailyLimit:
          type: number
          format: decimal
          description: Daily spending limit
        monthlyLimit:
          type: number
          format: decimal
          description: Monthly spending limit
        status:
          type: string
          enum: [active, suspended]
          description: Set to "suspended" to temporarily disable

    AgentRevokeResponse:
      type: object
      description: Response when agent is successfully revoked
      required:
        - success
        - message
      properties:
        success:
          type: boolean
          enum: [true]
        message:
          type: string
          example: "Agent revoked successfully"

    AgentUpdateResponse:
      type: object
      description: Response after updating agent settings
      required:
        - id
        - client_id
        - name
        - permissions
        - spending_limits
        - status
        - updated_at
      properties:
        id:
          type: string
          example: "550e8400-e29b-41d4-a716-446655440000"
        client_id:
          type: string
          example: "agent_abc123def456"
        name:
          type: string
          example: "My Shopping Assistant"
        description:
          type: string
          nullable: true
        permissions:
          type: array
          items:
            type: string
          example: ["browse", "cart", "purchase"]
        spending_limits:
          $ref: '#/components/schemas/SpendingLimits'
        status:
          type: string
          enum: [active, suspended, revoked]
        updated_at:
          type: string
          format: date-time

    RotateSecretResponse:
      type: object
      required:
        - client_id
        - client_secret
        - rotated_at
        - message
      properties:
        client_id:
          type: string
          description: Agent client ID (unchanged)
          example: "agent_abc123def456"
        client_secret:
          type: string
          description: New client secret (shown once!)
          example: "sk_agent_yyyyyyyyyyyyyyyyyyyyyyyyyyyy"
        rotated_at:
          type: string
          format: date-time
        message:
          type: string
          description: Reminder to save the secret
          example: "Save the new client_secret now - it will not be shown again! All existing tokens have been revoked."

    # =========================================================================
    # Transaction Schemas
    # =========================================================================
    TransactionListResponse:
      type: object
      required:
        - transactions
        - pagination
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Transaction:
      type: object
      required:
        - id
        - amount
        - currency
        - merchant_name
        - status
        - created_at
      properties:
        id:
          type: string
          example: "tx_abc123"
        amount:
          type: number
          format: decimal
          example: 45.67
        currency:
          type: string
          example: "CAD"
        merchant_id:
          type: string
          example: "store_xyz789"
        merchant_name:
          type: string
          example: "Regal Moose"
        status:
          type: string
          enum: [pending, completed, failed, refunded]
          example: "completed"
        approval_type:
          type: string
          enum: [auto, step_up]
          description: How transaction was approved
          example: "auto"
        payment_method_last_four:
          type: string
          example: "4242"
        created_at:
          type: string
          format: date-time

    Pagination:
      type: object
      properties:
        total:
          type: integer
          example: 42
        limit:
          type: integer
          example: 20
        offset:
          type: integer
          example: 0
        has_more:
          type: boolean
          example: true

    # =========================================================================
    # Step-Up Schemas
    # =========================================================================
    StepUpDetailResponse:
      type: object
      description: |
        Detailed step-up request information for the mobile app approval screen.
        Includes agent spending limits and available payment methods.
      required:
        - step_up
        - spending_limits
        - available_payment_methods
      properties:
        step_up:
          type: object
          required:
            - id
            - status
            - agent_id
            - agent_name
            - amount
            - currency
            - merchant_id
            - reason
            - trigger_type
            - expires_at
            - time_remaining_seconds
            - created_at
          properties:
            id:
              type: string
              example: "550e8400-e29b-41d4-a716-446655440000"
            status:
              type: string
              enum: [pending, approved, rejected, expired]
              example: "pending"
            agent_id:
              type: string
              example: "550e8400-e29b-41d4-a716-446655440000"
            agent_name:
              type: string
              example: "My Shopping Assistant"
            amount:
              type: string
              description: Amount as string for precision
              example: "156.48"
            currency:
              type: string
              example: "CAD"
            merchant_id:
              type: string
              example: "store_xyz789"
            merchant_name:
              type: string
              nullable: true
              example: "Regal Moose"
            session_id:
              type: string
              nullable: true
            items:
              type: array
              nullable: true
              items:
                $ref: '#/components/schemas/CartItem'
            reason:
              type: string
              example: "Amount exceeds per-transaction limit of $100.00 CAD"
            trigger_type:
              type: string
              enum: [per_transaction, daily_limit, monthly_limit]
            expires_at:
              type: string
              format: date-time
              example: "2026-01-21T15:15:00Z"
            time_remaining_seconds:
              type: integer
              description: Seconds until expiration
              example: 840
            created_at:
              type: string
              format: date-time
        spending_limits:
          $ref: '#/components/schemas/SpendingLimits'
        available_payment_methods:
          type: array
          description: Payment methods user can select for this purchase
          items:
            $ref: '#/components/schemas/StepUpPaymentMethod'
        requested_payment_method_id:
          type: string
          nullable: true
          description: Payment method originally requested by agent

    StepUpPaymentMethod:
      type: object
      description: |
        Payment method format used in step-up detail response.
        Note: Uses exp_month/exp_year (different from PaymentMethod schema).
      required:
        - id
        - type
        - last_four
        - is_default
      properties:
        id:
          type: string
          example: "pm_card_visa_1234"
        type:
          type: string
          description: Card type/brand
          example: "Visa"
        last_four:
          type: string
          example: "4242"
        cardholder_name:
          type: string
          example: "JOHN DOE"
        exp_month:
          type: integer
          description: Expiration month (1-12)
          example: 12
        exp_year:
          type: integer
          description: Expiration year (4-digit)
          example: 2027
        is_default:
          type: boolean
          example: true

    ApproveStepUpRequest:
      type: object
      required:
        - consent
      properties:
        consent:
          type: boolean
          enum: [true]
          description: User consents to the transaction
        payment_method_id:
          type: string
          description: Override payment method (optional)
          example: "pm_card_visa_1234"

    RejectStepUpRequest:
      type: object
      properties:
        reason:
          type: string
          maxLength: 500
          description: Optional rejection reason
          example: "I didn't authorize this purchase"

    StepUpApprovalResponse:
      type: object
      description: Response when user approves a step-up request via mobile app
      required:
        - status
        - transaction_id
        - payment_method
        - approved_at
      properties:
        status:
          type: string
          enum: [approved]
        transaction_id:
          type: string
          description: Transaction ID created for this payment
          example: "550e8400-e29b-41d4-a716-446655440000"
        payment_method:
          type: object
          description: Payment method selected by user
          required:
            - id
            - type
            - last_four
          properties:
            id:
              type: string
              example: "pm_card_visa_1234"
            type:
              type: string
              example: "Visa"
            last_four:
              type: string
              example: "4242"
        approved_at:
          type: string
          format: date-time

    StepUpRejectionResponse:
      type: object
      description: Response when user rejects a step-up request via mobile app
      required:
        - status
        - rejected_at
      properties:
        status:
          type: string
          enum: [rejected]
        rejected_at:
          type: string
          format: date-time

    # =========================================================================
    # Webhook Schemas (for documentation)
    # =========================================================================
    StepUpWebhookPayload:
      type: object
      description: |
        Webhook/push notification payload sent to mwsim when step-up is required.
        This is sent via APNs push notification.
      required:
        - type
        - step_up_id
        - agent_id
        - agent_name
        - merchant_name
        - amount
        - currency
        - reason
        - expires_at
      properties:
        type:
          type: string
          enum: [agent.step_up]
          description: Notification type
        step_up_id:
          type: string
          example: "stepup_xyz789abc123"
        agent_id:
          type: string
          example: "550e8400-e29b-41d4-a716-446655440000"
        agent_name:
          type: string
          example: "My Shopping Assistant"
        merchant_name:
          type: string
          example: "Regal Moose"
        amount:
          type: number
          format: decimal
          example: 156.48
        currency:
          type: string
          example: "CAD"
        reason:
          type: string
          example: "Exceeds per-transaction limit"
        expires_at:
          type: string
          format: date-time
          example: "2026-01-21T15:15:00Z"

    AgentTransactionWebhookPayload:
      type: object
      description: Webhook payload for completed agent transactions
      required:
        - type
        - agent_id
        - transaction_id
        - amount
        - currency
        - merchant_name
        - status
      properties:
        type:
          type: string
          enum: [agent.transaction]
        agent_id:
          type: string
        agent_name:
          type: string
        transaction_id:
          type: string
        amount:
          type: number
          format: decimal
        currency:
          type: string
        merchant_name:
          type: string
        status:
          type: string
          enum: [completed, failed]
        approval_type:
          type: string
          enum: [auto, step_up]

    # =========================================================================
    # Error Schemas
    # =========================================================================
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              description: Machine-readable error code
              example: "AGENT_NOT_FOUND"
            message:
              type: string
              description: Human-readable error message
              example: "Agent not found"
            details:
              type: object
              description: Additional error context

    ValidationErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - fields
          properties:
            code:
              type: string
              enum: [VALIDATION_ERROR]
            message:
              type: string
              example: "Validation failed"
            fields:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                    example: "spending_limits.per_transaction"
                  message:
                    type: string
                    example: "Must be a positive number"

    # =========================================================================
    # Pairing Code & Access Request Schemas
    # =========================================================================
    PairingCodeResponse:
      type: object
      required:
        - code
        - expires_at
      properties:
        code:
          type: string
          description: Pairing code to give to AI agent
          example: "WSIM-ABC123-XYZ789"
        expires_at:
          type: string
          format: date-time
          description: Code expiration (24 hours from creation)
          example: "2026-01-22T15:00:00Z"
        created_at:
          type: string
          format: date-time

    AccessRequestCreate:
      type: object
      description: |
        Request body for creating an agent access request.

        **Valid permissions**: browse, cart, purchase, history

        **Required spending_limits**: per_transaction, daily, monthly (all required)
      required:
        - pairing_code
        - agent_name
        - permissions
        - spending_limits
      properties:
        pairing_code:
          type: string
          description: Pairing code from user
          example: "WSIM-ABC123-XYZ789"
        agent_name:
          type: string
          minLength: 1
          maxLength: 100
          description: Human-readable agent name
          example: "My Shopping Assistant"
        description:
          type: string
          maxLength: 500
          description: Optional description
          example: "Helps me buy groceries and household items"
        permissions:
          type: array
          items:
            type: string
            enum: [browse, cart, purchase, history]
          description: |
            Requested permissions. Must include at least one of:
            - browse: View products and catalog
            - cart: Create and manage shopping carts
            - purchase: Complete purchases (requires spending limits)
            - history: View transaction history
          example: ["browse", "cart", "purchase"]
        spending_limits:
          $ref: '#/components/schemas/SpendingLimitsInput'
        delivery:
          type: string
          enum: [push, qr]
          default: push
          description: How to deliver approval request (push notification or QR)
      example:
        pairing_code: "WSIM-ABC123-XYZ789"
        agent_name: "My Shopping Assistant"
        description: "Helps me buy groceries and household items"
        permissions: ["browse", "cart", "purchase"]
        spending_limits:
          per_transaction: 50.00
          daily: 200.00
          monthly: 500.00
          currency: "CAD"
        delivery: "push"

    AccessRequestCreatedResponse:
      type: object
      required:
        - request_id
        - status
        - expires_at
      properties:
        request_id:
          type: string
          description: Access request ID for polling
          example: "ar_abc123xyz789"
        status:
          type: string
          enum: [pending]
        expires_at:
          type: string
          format: date-time
          description: Request expiration (24 hours)
          example: "2026-01-22T15:00:00Z"
        poll_url:
          type: string
          format: uri
          description: URL to poll for status
          example: "https://wsim.banksim.ca/api/agent/v1/access-request/ar_abc123xyz789"

    AccessRequestPendingResponse:
      type: object
      required:
        - request_id
        - status
        - expires_at
      properties:
        request_id:
          type: string
          example: "ar_abc123xyz789"
        status:
          type: string
          enum: [pending]
        expires_at:
          type: string
          format: date-time
        time_remaining_seconds:
          type: integer
          description: Seconds until expiration
          example: 86400

    AccessRequestApprovedResponse:
      type: object
      required:
        - request_id
        - status
        - credentials
        - agent_id
        - permissions
        - spending_limits
      properties:
        request_id:
          type: string
          example: "ar_abc123xyz789"
        status:
          type: string
          enum: [approved]
        credentials:
          type: object
          required:
            - client_id
            - client_secret
            - token_endpoint
          properties:
            client_id:
              type: string
              description: Agent client ID
              example: "agent_abc123def456"
            client_secret:
              type: string
              description: Agent client secret
              example: "sk_agent_xxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            token_endpoint:
              type: string
              format: uri
              description: OAuth token endpoint
              example: "https://wsim.banksim.ca/api/agent/v1/oauth/token"
        agent_id:
          type: string
          description: Agent UUID
          example: "550e8400-e29b-41d4-a716-446655440000"
        permissions:
          type: array
          items:
            type: string
          description: Granted permissions (may be subset of requested)
          example: ["browse", "cart", "purchase"]
        spending_limits:
          $ref: '#/components/schemas/SpendingLimits'
        approved_at:
          type: string
          format: date-time

    AccessRequestRejectedResponse:
      type: object
      required:
        - request_id
        - status
      properties:
        request_id:
          type: string
          example: "ar_abc123xyz789"
        status:
          type: string
          enum: [rejected, expired]
        reason:
          type: string
          description: Rejection reason (if provided)
          example: "User declined the request"
        rejected_at:
          type: string
          format: date-time

    AccessRequestQRResponse:
      type: object
      required:
        - request_id
        - qr_data
        - qr_url
      properties:
        request_id:
          type: string
          example: "ar_abc123xyz789"
        qr_data:
          type: string
          description: Data to encode in QR code
          example: "wsim://access-request/ar_abc123xyz789"
        qr_url:
          type: string
          format: uri
          description: URL that opens mwsim with approval screen
          example: "https://wsim.banksim.ca/m/access-request/ar_abc123xyz789"
        expires_at:
          type: string
          format: date-time

    AccessRequestListResponse:
      type: object
      required:
        - access_requests
      properties:
        access_requests:
          type: array
          items:
            $ref: '#/components/schemas/AccessRequestSummary'

    AccessRequestSummary:
      type: object
      required:
        - id
        - agent_name
        - status
        - created_at
        - expires_at
      properties:
        id:
          type: string
          example: "ar_abc123xyz789"
        agent_name:
          type: string
          example: "My Shopping Assistant"
        status:
          type: string
          enum: [pending, approved, rejected, expired]
        requested_permissions:
          type: array
          items:
            type: string
          example: ["browse", "cart", "purchase"]
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        time_remaining_seconds:
          type: integer

    AccessRequestDetailResponse:
      type: object
      required:
        - access_request
      properties:
        access_request:
          type: object
          required:
            - id
            - agent_name
            - status
            - requested_permissions
            - requested_limits
            - expires_at
          properties:
            id:
              type: string
              example: "ar_abc123xyz789"
            agent_name:
              type: string
              example: "My Shopping Assistant"
            agent_description:
              type: string
            status:
              type: string
              enum: [pending, approved, rejected, expired]
            requested_permissions:
              type: array
              items:
                type: string
              example: ["browse", "cart", "purchase"]
            requested_limits:
              $ref: '#/components/schemas/SpendingLimits'
            created_at:
              type: string
              format: date-time
[...]
