openapi: 3.0.3
info:
  title: WSIM API
  description: |
    WSIM (Wallet Simulator) API - Mobile wallet backend for the BankSim ecosystem.

    ## Authentication

    WSIM uses two authentication methods:

    1. **Mobile API (Bearer JWT)**: For mobile app endpoints under `/api/mobile/*`
       - Include `Authorization: Bearer <access_token>` header
       - Tokens obtained from `/api/mobile/auth/login` or `/api/mobile/auth/refresh`

    2. **Internal API (API Key)**: For service-to-service communication under `/api/internal/*`
       - Include `X-Internal-Api-Key: <secret>` header
       - Uses `INTERNAL_API_SECRET` environment variable

    ## Related Services

    - **BSIM** - Bank Simulator (account/card management)
    - **TransferSim** - Payment network (P2P transfers)
    - **mwsim** - Mobile app (iOS/Android client)
  version: 0.8.0
  contact:
    name: WSIM Team
  license:
    name: Proprietary

servers:
  - url: https://wsim.banksim.ca
    description: Production
  - url: http://localhost:3003
    description: Local development

tags:
  - name: Profile (Mobile)
    description: User profile management for mobile app
  - name: Profile (Internal)
    description: Profile lookup for internal services (TransferSim)
  - name: Contracts (Mobile)
    description: Contract proxy endpoints for ContractSim integration
  - name: Contracts (Internal)
    description: Contract profile lookup for ContractSim
  - name: Verification (Mobile)
    description: Identity verification for Trusted User feature
  - name: Account (Mobile)
    description: Account management (deletion for testing)

paths:
  /api/mobile/profile:
    get:
      tags:
        - Profile (Mobile)
      summary: Get user profile
      description: Returns the authenticated user's profile information.
      operationId: getMobileProfile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '401':
          description: Unauthorized - missing or invalid token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      tags:
        - Profile (Mobile)
      summary: Update user profile
      description: |
        Update the authenticated user's profile. Currently supports updating `displayName`.
      operationId: updateMobileProfile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResponse'
        '400':
          description: Invalid request (e.g., displayName too long or empty)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/mobile/profile/image:
    post:
      tags:
        - Profile (Mobile)
      summary: Upload profile image
      description: |
        Upload a profile image. The image is processed to:
        - Resize to 512x512 (full), 128x128 (medium), 64x64 (small)
        - Strip EXIF metadata
        - Convert to JPEG

        Supported formats: JPEG, PNG, HEIC

        **Rate limit**: 100 uploads per user per hour
      operationId: uploadProfileImage
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - image
              properties:
                image:
                  type: string
                  format: binary
                  description: Image file (JPEG, PNG, or HEIC)
      responses:
        '200':
          description: Image uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageUploadResponse'
        '400':
          description: Invalid request (no file, invalid type, or file too large)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded (100 uploads per hour)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags:
        - Profile (Mobile)
      summary: Delete profile image
      description: Remove the user's profile image from S3 and clear the database fields.
      operationId: deleteProfileImage
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Image deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        '400':
          description: No image to delete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/internal/profile:
    get:
      tags:
        - Profile (Internal)
      summary: Get user profile by BSIM user
      description: |
        Look up a WSIM user's profile by their BSIM user ID and bank identifier.
        Used by TransferSim to get sender/recipient profile information for transfers.

        **Authentication**: Requires `X-Internal-Api-Key` header with `INTERNAL_API_SECRET`.
      operationId: getInternalProfile
      security:
        - internalApiKey: []
      parameters:
        - name: bsimUserId
          in: query
          required: true
          description: User's ID at the BSIM (fiUserRef from enrollment)
          schema:
            type: string
          example: "user_12345"
        - name: bsimId
          in: query
          required: true
          description: Bank identifier (e.g., "bsim", "newbank")
          schema:
            type: string
          example: "bsim"
      responses:
        '200':
          description: Profile found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalProfileResponse'
        '400':
          description: Missing required query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: User not found for given bsimUserId and bsimId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # =========================================================================
  # DEVICE MANAGEMENT ENDPOINTS
  # =========================================================================

  /api/mobile/device/register-key:
    post:
      tags:
        - Verification (Mobile)
      summary: Register device signing key
      description: |
        Register a public key for device-based signature verification.

        The device generates an asymmetric key pair locally:
        - Private key stays on device (Secure Enclave/Keystore)
        - Public key is sent to WSIM for signature verification

        This is a one-time registration per device. Re-registering the same
        deviceId will replace the existing key.

        **Supported Key Types:**
        - `ECDSA-P256`: Recommended - smaller keys, faster verification
        - `RSA-2048`: Fallback for devices without ECDSA support
      operationId: registerDeviceKey
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterDeviceKeyRequest'
      responses:
        '200':
          description: Key registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterDeviceKeyResponse'
        '400':
          description: Invalid request (missing fields, invalid key format)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # =========================================================================
  # VERIFICATION ENDPOINTS (Trusted User)
  # =========================================================================

  /api/mobile/verification/submit:
    post:
      tags:
        - Verification (Mobile)
      summary: Submit identity verification
      description: |
        Submit a signed identity verification result from the mobile app.

        The verification is performed entirely on-device (face detection, liveness check).
        Only the signed verification result is sent to the server - no PII or photos.

        **Verification Levels:**
        - `basic`: Name matching between passport and profile (score >= 0.85)
        - `enhanced`: Name + face comparison (score >= 0.70) + liveness check

        **Security:**
        - Payload is signed with device's private key (ECDSA-P256 or RSA-2048)
        - Server validates signature using registered public key
        - Device key must be registered via `/api/mobile/device/register-key` first
      operationId: submitVerification
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitVerificationRequest'
      responses:
        '200':
          description: Verification processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResponse'
        '400':
          description: Invalid request or verification failed validation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/mobile/verification:
    delete:
      tags:
        - Verification (Mobile)
      summary: Remove identity verification
      description: |
        Remove the user's identity verification status.

        This resets the user to unverified state:
        - Sets `isVerified` to false
        - Clears `verifiedAt` and `verificationLevel`
        - Deletes all verification records for the user

        **Use case:** Testing, or user wants to re-verify with different identity.
      operationId: removeVerification
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Verification removed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Verification status removed"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: User has no verification to remove
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # =========================================================================
  # ACCOUNT MANAGEMENT ENDPOINTS
  # =========================================================================

  /api/mobile/account:
    delete:
      tags:
        - Account (Mobile)
      summary: Delete user account
      description: |
        Permanently delete the user's WSIM account and all associated data.

        **This action is irreversible.** The following data will be deleted:
        - User profile (displayName, profileImage, etc.)
        - All device registrations and keys
        - All verification records
        - All BSIM enrollments

        **Use case:** Testing, or user wants to completely remove their account.

        **Note:** This does not affect data in external systems (BSIM, TransferSim, ContractSim).
      operationId: deleteAccount
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Account deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Account deleted successfully"
        '401':
          $ref: '#/components/responses/Unauthorized'

  # =========================================================================
  # CONTRACT ENDPOINTS (ContractSim Proxy)
  # =========================================================================

  /api/mobile/contracts:
    get:
      tags:
        - Contracts (Mobile)
      summary: List user's contracts
      description: Returns a list of contracts where the user is a party.
      operationId: listContracts
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          description: Filter by status (comma-separated)
          schema:
            type: string
          example: "active,proposed"
      responses:
        '200':
          description: Contracts retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  contracts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contract'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - Contracts (Mobile)
      summary: Create new contract
      description: |
        Create a new contract. WSIM resolves the counterparty alias and enriches
        the request with profile data before proxying to ContractSim.
      operationId: createContract
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractRequest'
      responses:
        '201':
          description: Contract created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Counterparty not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/mobile/contracts/{contractId}:
    get:
      tags:
        - Contracts (Mobile)
      summary: Get contract details
      operationId: getContract
      security:
        - bearerAuth: []
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Contract details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/mobile/contracts/{contractId}/accept:
    post:
      tags:
        - Contracts (Mobile)
      summary: Accept contract invitation
      operationId: acceptContract
      security:
        - bearerAuth: []
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - consent
              properties:
                consent:
                  type: boolean
                  description: Must be true to accept
                  example: true
      responses:
        '200':
          description: Contract accepted
        '400':
          description: Consent required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/mobile/contracts/{contractId}/fund:
    post:
      tags:
        - Contracts (Mobile)
      summary: Fund contract
      description: Initiate escrow funding for the contract.
      operationId: fundContract
      security:
        - bearerAuth: []
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                account_id:
                  type: string
                  description: Bank account to fund from (optional, uses default)
      responses:
        '200':
          description: Funding initiated
        '400':
          description: No bank linked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/mobile/contracts/{contractId}/cancel:
    post:
      tags:
        - Contracts (Mobile)
      summary: Cancel contract
      description: Cancel a contract (only before funding).
      operationId: cancelContract
      security:
        - bearerAuth: []
      parameters:
        - name: contractId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Contract cancelled
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          description: Cannot cancel funded contract
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/internal/contracts/profile/{walletId}:
    get:
      tags:
        - Contracts (Internal)
      summary: Get profile by walletId
      description: |
        Look up a WSIM user's profile by their walletId.
        Used by ContractSim to fetch party display information.
      operationId: getContractProfile
      security:
        - internalApiKey: []
      parameters:
        - name: walletId
          in: path
          required: true
          description: User's wallet identifier (e.g., "WLLT-ABC123")
          schema:
            type: string
      responses:
        '200':
          description: Profile found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalProfileResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Mobile API JWT access token.
        Obtain via `/api/mobile/auth/login` or `/api/mobile/auth/refresh`.
    internalApiKey:
      type: apiKey
      in: header
      name: X-Internal-Api-Key
      description: |
        Internal API key for service-to-service communication.
        Value should match `INTERNAL_API_SECRET` environment variable.

  schemas:
    ProfileResponse:
      type: object
      required:
        - success
        - profile
      properties:
        success:
          type: boolean
          example: true
        profile:
          $ref: '#/components/schemas/Profile'

    Profile:
      type: object
      required:
        - userId
        - walletId
        - email
        - displayName
        - initials
        - initialsColor
      properties:
        userId:
          type: string
          format: uuid
          description: WSIM user ID
          example: "550e8400-e29b-41d4-a716-446655440000"
        walletId:
          type: string
          description: User's wallet identifier
          example: "WLLT-ABC123"
        email:
          type: string
          format: email
          description: User's email address
          example: "user@example.com"
        displayName:
          type: string
          description: User's display name (custom or derived from first/last name)
          example: "John Doe"
        initials:
          type: string
          description: Two-letter initials derived from display name
          example: "JD"
        initialsColor:
          type: string
          description: Hex color for avatar background when no image is set
          example: "#4A90D9"
        profileImageUrl:
          type: string
          format: uri
          nullable: true
          description: Full-size profile image URL (512x512)
          example: "https://cdn.banksim.ca/users/WLLT-ABC123/avatar.jpg?v=1704825600"
        thumbnails:
          type: object
          nullable: true
          description: Thumbnail URLs (null if no profile image)
          properties:
            small:
              type: string
              format: uri
              description: Small thumbnail (64x64)
              example: "https://cdn.banksim.ca/users/WLLT-ABC123/avatar_64.jpg?v=1704825600"
            medium:
              type: string
              format: uri
              description: Medium thumbnail (128x128)
              example: "https://cdn.banksim.ca/users/WLLT-ABC123/avatar_128.jpg?v=1704825600"
        isVerified:
          type: boolean
          description: Whether the user has completed identity verification
          example: true
        verifiedAt:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when verification was completed
          example: "2026-01-19T12:00:00.000Z"
        verificationLevel:
          type: string
          enum: [none, basic, enhanced]
          description: |
            Level of identity verification completed:
            - `none`: Not verified
            - `basic`: Name matching only
            - `enhanced`: Name + face + liveness verification
          example: "enhanced"

    UpdateProfileRequest:
      type: object
      properties:
        displayName:
          type: string
          description: New display name (1-50 characters)
          minLength: 1
          maxLength: 50
          example: "John D."

    ImageUploadResponse:
      type: object
      required:
        - success
        - profileImageUrl
        - thumbnails
      properties:
        success:
          type: boolean
          example: true
        profileImageUrl:
          type: string
          format: uri
          description: Full-size profile image URL
          example: "https://cdn.banksim.ca/users/WLLT-ABC123/avatar.jpg?v=1704825600"
        thumbnails:
          type: object
          properties:
            small:
              type: string
              format: uri
              example: "https://cdn.banksim.ca/users/WLLT-ABC123/avatar_64.jpg?v=1704825600"
            medium:
              type: string
              format: uri
              example: "https://cdn.banksim.ca/users/WLLT-ABC123/avatar_128.jpg?v=1704825600"

    InternalProfileResponse:
      type: object
      required:
        - success
        - profile
      properties:
        success:
          type: boolean
          example: true
        profile:
          type: object
          required:
            - displayName
            - initials
            - initialsColor
          properties:
            displayName:
              type: string
              description: User's display name
              example: "John Doe"
            profileImageUrl:
              type: string
              format: uri
              nullable: true
              description: Full-size profile image URL
              example: "https://cdn.banksim.ca/users/WLLT-ABC123/avatar.jpg?v=1704825600"
            thumbnails:
              type: object
              nullable: true
              properties:
                small:
                  type: string
                  format: uri
                  example: "https://cdn.banksim.ca/users/WLLT-ABC123/avatar_64.jpg?v=1704825600"
                medium:
                  type: string
                  format: uri
                  example: "https://cdn.banksim.ca/users/WLLT-ABC123/avatar_128.jpg?v=1704825600"
            initials:
              type: string
              description: Two-letter initials
              example: "JD"
            initialsColor:
              type: string
              description: Hex color for avatar background
              example: "#4A90D9"

    # Device management schemas
    RegisterDeviceKeyRequest:
      type: object
      required:
        - deviceId
        - publicKey
        - keyType
      properties:
        deviceId:
          type: string
          format: uuid
          description: Unique device identifier
          example: "550e8400-e29b-41d4-a716-446655440000"
        publicKey:
          type: string
          description: |
            Base64-encoded public key. For ECDSA-P256, this is the
            SubjectPublicKeyInfo (SPKI) DER encoding. For RSA-2048,
            this is the PKCS#1 or SPKI DER encoding.
          example: "MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE..."
        keyType:
          type: string
          enum: [ECDSA-P256, RSA-2048]
          description: Type of cryptographic key
          example: "ECDSA-P256"

    RegisterDeviceKeyResponse:
      type: object
      required:
        - success
        - registered
        - deviceId
      properties:
        success:
          type: boolean
          example: true
        registered:
          type: boolean
          description: Whether the key was registered (true) or replaced (also true)
          example: true
        deviceId:
          type: string
          format: uuid
          description: The device ID that was registered
          example: "550e8400-e29b-41d4-a716-446655440000"

    # Verification schemas (Trusted User)
    SubmitVerificationRequest:
      type: object
      required:
        - signedVerification
      properties:
        signedVerification:
          $ref: '#/components/schemas/SignedVerification'

    SignedVerification:
      type: object
      description: |
        Client-signed verification result. The payload contains the verification
        outcome (name match, face match, liveness) but NO PII or photos.
      required:
        - payload
        - signature
        - deviceId
        - appVersion
      properties:
        payload:
          type: string
          description: Base64-encoded VerificationResult JSON
          example: "eyJuYW1lTWF0Y2giOnsic2NvcmUiOjAuOTUsInBhc3NlZCI6dHJ1ZX19..."
        signature:
          type: string
          description: |
            Base64-encoded signature of payload using device's private key.
            For ECDSA-P256: ECDSA signature with SHA-256.
            For RSA-2048: RSA-PKCS1-v1_5 signature with SHA-256.
          example: "MEUCIQC2Pk..."
        deviceId:
          type: string
          format: uuid
          description: Device identifier (must match registered device)
          example: "550e8400-e29b-41d4-a716-446655440000"
        appVersion:
          type: string
          description: Mobile app version
          example: "1.9.0"

    VerificationResponse:
      type: object
      required:
        - success
        - verificationId
        - isVerified
        - verificationLevel
      properties:
        success:
          type: boolean
          example: true
        verificationId:
          type: string
          description: Unique verification record ID
          example: "ver_abc123xyz"
        isVerified:
          type: boolean
          description: Whether user is now verified
          example: true
        verifiedAt:
          type: string
          format: date-time
          description: Timestamp of verification
          example: "2026-01-19T12:00:00.000Z"
        verificationLevel:
          type: string
          enum: [none, basic, enhanced]
          description: Level of verification achieved
          example: "enhanced"

    ErrorResponse:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: Error code
          example: "unauthorized"
        message:
          type: string
          description: Human-readable error message
          example: "Invalid or expired access token"

    # Contract schemas
    Contract:
      type: object
      description: |
        Contract object. WSIM enriches contract responses with profile data
        (profileImageUrl, initialsColor) from its user database.
      properties:
        contract_id:
          type: string
          example: "contract_abc123"
        status:
          type: string
          enum: [draft, proposed, funding, active, settling, settled, expired, cancelled, disputed]
        title:
          type: string
          example: "Superbowl 2026 Bet"
        type:
          type: string
          enum: [wager, escrow, milestone]
        parties:
          type: array
          items:
            $ref: '#/components/schemas/ContractParty'
        counterparty_name:
          type: string
          description: Display name of the counterparty (for list views)
          example: "Jane Doe"
        counterparty_profile_image_url:
          type: string
          nullable: true
          description: URL of the counterparty's profile image (enriched by WSIM)
          example: "https://cdn.banksim.ca/users/xyz789/profile-512.jpg"
        counterparty_initials_color:
          type: string
          nullable: true
          description: Background color for counterparty initials avatar fallback
          example: "#1E88E5"
        total_pot:
          type: number
          example: 100.00
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time

    ContractParty:
      type: object
      properties:
        wallet_id:
          type: string
          example: "WLLT-ABC123"
        display_name:
          type: string
          example: "John Doe"
        profile_image_url:
          type: string
          nullable: true
          description: URL of the party's profile image (enriched by WSIM)
          example: "https://cdn.banksim.ca/users/abc123/profile-512.jpg"
        initials_color:
          type: string
          nullable: true
          description: Background color for initials avatar fallback (enriched by WSIM)
          example: "#E53935"
        role:
          type: string
          enum: [creator, counterparty]
        stake:
          type: object
          properties:
            amount:
              type: number
              example: 50.00
            currency:
              type: string
              example: "CAD"
        accepted:
          type: boolean
        funded:
          type: boolean
        is_verified:
          type: boolean
          description: Whether the party has completed identity verification (enriched by WSIM)
          example: true
        verification_level:
          type: string
          enum: [none, basic, enhanced]
          nullable: true
          description: Level of identity verification (enriched by WSIM)
          example: "enhanced"

    CreateContractRequest:
      type: object
      required:
        - type
        - counterparty_alias
        - event
        - my_stake
        - their_stake
      properties:
        type:
          type: string
          enum: [wager, escrow]
          example: "wager"
        counterparty_alias:
          type: string
          description: "@username or email of counterparty"
          example: "@jane"
        title:
          type: string
          example: "Superbowl 2026 Bet"
        description:
          type: string
        event:
          type: object
          required:
            - oracle
            - event_id
            - my_prediction
          properties:
            oracle:
              type: string
              example: "test_oracle"
            event_id:
              type: string
              example: "test_game_001"
            my_prediction:
              type: string
              example: "team_a_wins"
        my_stake:
          type: number
          example: 50.00
        their_stake:
          type: number
          example: 50.00
        expires_in_hours:
          type: integer
          default: 24
          example: 24

  responses:
    Unauthorized:
      description: Unauthorized - missing or invalid token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad request - invalid input
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
